.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #393f46;
  color: white;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3rem;
  font-weight: bold;
}

.button:hover,
.button:active {
  opacity: 0.8;
}
